.contact__svg:hover{
    /*stroke: #4db5ff;*/
    /*fill: #4db5ff;*/
}
.contact__container{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}
.contact__options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.contact__option{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}
.contact__option:hover{
    background: transparent;
    border-color: white;
}

.contact__svg{
    width: 20px;
    height: 20px;
    margin-bottom: .5rem;
}
.contact__option a {
    display: block;
    font-size: 0.8rem;
    margin-top: 0.7rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
input,
textarea{
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: white;
}
input::placeholder,
textarea::placeholder{
    color: white;
}
input:focus,
textarea:focus{
    border-color: var(--color-primary);
}

@media (max-width: 1024px) {
    .contact__container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}
@media (max-width: 600px) {
    .contact__container{
        width: var(--container-width-ms);
    }
}